.home-container {
  padding: 20px;
}

.dashboard-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}

.cards-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.cards-container .card {
  border-radius: 4px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.cards-container .card:hover {
  transform: translateY(-5px);
}

/* Background Colors */
.pending {
  background-color: #f1b400;
}

.approved {
  background-color: #05c46b;
}

.rejected {
  background-color: #ff3f34;
}
.eventcard {
  background-color: #34a4ff;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-icon {
  font-size: 22px;
}

.card-title {
  font-size: 16px;
  font-weight: 500;
}

.card-count {
  font-size: 32px;
  font-weight: bold;
  align-self: flex-end;
}
.bookmarked {
  background-color: #a7ffd6 !important;
}
