.container {
  text-align: center;
  background: url("../assets/bannerImg.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  max-height: 400px;
}
.container .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 400px;
}
.header {
  padding: 50px 20px;
}

.header-content {
  max-width: 800px;
  margin: 0 auto;
}

.header-content h1 {
  color: #1e90ff;
  font-size: 2.5em;
  margin-bottom: 10px;
}

.header-content p {
  font-size: 1em;
  margin-bottom: 20px;
}

.read-more {
  background-color: #1e90ff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.cards .card {
  background: white;
  padding: 20px;
  max-width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.blue {
  background-color: #c7e3ff;
  color: #333333;
}

.green {
  background-color: #c8ffc8;
  color: #333333;
}

.card h3 {
  margin: 10px 0;
}

.icon {
  font-size: 2em;
}

.aboutus {
  background-color: #f4f4f4;
}
.aboutus_container {
  padding: 50px 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.aboutus h2 {
  margin-bottom: 20px;
}

.aboutus p {
  margin-bottom: 20px;
}

.aboutus button {
  background-color: #1e90ff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 150px;
}
.aboutus .left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  margin-right: 20px;
}
.aboutus .right .image {
  max-width: 500px;
  border-radius: 10px;
}
.aboutus .right img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.aboutus .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 20px;
}

.stats_container {
  font-family: Arial, sans-serif;
  text-align: center;
  background: url('library-background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #333;
}

.stats {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

.stat-item {
  text-align: center;
}
.stat-item:not(:last-child) {
  padding-right: 70px;
  border-right: 2px solid #fff;
}
.stat-item:not(:first-child) {
  padding-left: 70px;
}

.stat-icon {
  font-size: 2em;
  display: block;
  margin-bottom: 10px;
}

.stat-item h2 {
  font-size: 2.5em;
  margin: 0;
}

.stat-item p {
  margin: 5px 0 0;
  text-transform: uppercase;
  font-size: 0.9em;
}

.features {
  padding: 40px 20px;
  background: #fff;
  margin: 0 auto;
  text-align: center;
  max-width: 1200px;
}

.features h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.features p {
  font-size: 1em;
  margin-bottom: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.feature-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.feature-card {
  background: #f9f9f9;
  padding: 20px;
  max-width: 400px;
  text-align: center;
  text-align: left;
  border: 1px solid #ddd;
}
.feature-card .icon {
  font-size: 2em;
  display: block;
  margin-bottom: 10px;
  justify-self: start;
  padding: 5px;
  border-radius: 2px;
  background-color: #e1f0ff;
}
.feature-card h3 {
  margin: 10px 0;
}


.testimonials {
  padding: 40px 20px;
  background: #f9f9f9;
  margin: 0 auto;
  text-align: center;
}

.testimonials h2 {
  font-size: 2em;
  margin-bottom: 40px;
}

.testimonial-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.testimonial-card {
  background: white;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.testimonial-img {
  border-radius: 50%;
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.stars {
  color: #ffd700;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.testimonial-text {
  font-size: 1em;
  margin-bottom: 10px;
}

.testimonial-author {
  font-style: italic;
  color: #666;
}



.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.input-group{
  display: flex;
  justify-content: space-between;
}
.popup-content {
  background: white;
  padding: 20px;
  width: 400px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.popup-content h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
}

.submit-btn {
  background-color: #1e90ff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
}