/* Navbar.css */
.navbar2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
  }
  
  .navbar-brand .brand-logo {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar-links ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .navbar-links li {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
  }
  

  
  .navbar-links li:hover {
    color: #1E90FF;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    color: white;
  }
  .navbar-links.mobile{
    position: absolute;
    top: 75px;
    left: 0;
    background-color: #333;
    width: 100%;
    z-index: 1000;
  }

  
  @media (max-width: 768px) {
    .navbar-links {
      display: none;
      width: 100%;
      text-align: center;
    }
  
    .navbar-links.mobile {
      display: block;
    }
  
    .navbar-links ul {
      display: block;
    }
  
    .navbar-links li {
      margin: 10px 0;
    }
  
    .hamburger {
      display: block;
    }
  }
  